<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample2-1</title>
</head>

<body>
  <h1>JankenGame!</h1>
  <div th:if="${UserName}">
    Hi [[${UserName}]]
  </div>
  <h1>エントリー</h1>
  <p th:if="${users3}">
    <!--statはステータス変数
      https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
    -->
    <li th:each="user : ${users3}">
      <a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a>
    </li>
  <h1>試合結果</h1>
  <p th:if="${matches3}">
    <!--statはステータス変数
          https://www.ne.jp/asahi/hishidama/home/tech/java/spring/boot/thymeleaf/th_each.html
        -->
  <div th:each="matches,stat:${matches3}">
    <tr>
      <td>id:[[${matches.id}]]</td>
      <td>user1:[[${matches.user1}]]</td>
      <td>user2:[[${matches.user2}]]</td>
      <td>user1Hand:[[${matches.user1Hand}]]</td>
      <td>user2Hand:[[${matches.user2Hand}]]</td>
    </tr>
  </div>
  </p>

</body>

</html>
